* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#header-top {
  background-color: #FF9500;
  height: 55px;
  border-radius: 8px;
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header--logo {
  background-image: url("Logo.svg");
  background-color: #FF9500;
  height: 54px;
  width: 54px;
  background-repeat: no-repeat;
  margin-left: 70px;
  margin-top: 10px;
}

#header-bottom {
  width: 1600px;
  margin: auto;
  display: flex;
  align-items: center;
}

#header-bottom ul {
  display: flex;
}

#header-bottom ul li {
  list-style: none;
  padding: 14px 24px;
}

#header--action {
  position: relative;
  right: -500px;
  display: flex;
  gap: 12px;
}

.sign-up-btn {
  border: none;
  background-color: white;
  padding: 14px 34px;
}

.login-btn {
  background-color: #FF9500;
  border-radius: 8px;
  border: none;
  padding: 14px 34px;
  color: white;
}

.container {
  background-color: #FCFCFD;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
.unlock {
  color: #FF9500;
}

.title-main {
  font-weight: bold;
  font-size: 40px;
}

.title-sub {
  font-size: 35px;
  margin-left: 400px;
  margin-top: 15px;
}

.desc {
  font-size: 20px;
  margin-left: 500px;
  margin-top: 10px;
}

.container-btn {
  margin-left: 600px;
  margin-top: 25px;
}
.explore-btn {
  background-color: #FF9500;
  color: white;
  border: none;
  padding: 18px 24px;
  border-radius: 2px;
}

.view-btn {
  background-color: #d9d5d5;
  border: none;
  padding: 18px 24px;
  border-radius: 2px;
}

.container-menu {
  padding: 12px 30px;
  background-color: rgb(243, 247, 247);
  margin-top: 30px;
  width: 800px;
  margin-left: 300px;
}
.menu {
  display: flex;
  justify-content: center; /* Căn giữa ngang */
  align-items: center;  
  
}

.menu li {
  list-style: none;
  margin-right: 30px;
  margin-left: 30px;
  border-left: 1px solid rgb(119, 119, 119); 
  padding-left: 12px;  
}

.menu li:first-child {
  border-left: none; 
  padding-left: 0;     
}

.image {
  width: 1596px;
  height: 790px;
  margin-top: 30px;
}

.container-benefit {
  margin-top: 50px;
  padding: 0 30px;
}

.container-1 {
  display: flex;
  gap: 20px; 
  margin-top: 30px;
}

.benefit-1, .benefit-2, .benefit-3 {
  flex: 1;      
  padding: 20px; 
  background: #f5f5f5;
  border-radius: 10px;
  box-sizing: border-box;
  min-height: 250px; 
}

.number {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}


.container-courses {
  margin-top: 30px;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
}

.course {
  font-size: 30px;
  font-weight: bold;
}

.course-desc {
  font-size: 15px;
  max-width: 600px;
  line-height: 1.5;
}

/* 2 box chia đều */
.courses-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
}

/* BOX COURSE */
.course-box {
  flex: 1;
  background: #f5f5f5;
  padding: 20px;
  border-radius: 12px;
  box-sizing: border-box;
}

/* IMAGE */
.course-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* TITLE */
.course-title {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 14px;
}

.course-title-1 {
  display: flex;
  gap: 10px;
}

.course-title-1 p,
.course-title-2 p {
  opacity: 0.7;
}

/* CONTENT */
.course-content {
  margin-top: 15px;
}

.course-name {
  font-size: 20px;
  font-weight: bold;
}

.course-text {
  margin-top: 8px;
  line-height: 1.4;
  font-size: 14px;
  opacity: 0.8;
}

/* BUTTON */
.course-btn {
  margin-top: 15px;
  background: black;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.course-btn:hover {
  background: #333;
}






.testimonials-container {
  width: 1200px;
  margin: 40px auto;
  padding: 20px;
}

.testimonials-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.testimonials-header h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.testimonials-header p {
  width: 750px;
  color: #666;
  line-height: 1.5;
}

.view-all-btn {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 12px 28px;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
}

.testimonials-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.testimonial-box {
  background-color: #fafafa;
  border-radius: 12px;
  padding: 30px;
  line-height: 1.6;
  border: 1px solid #eee;
}

.testimonial-text {
  font-size: 16px;
  color: #333;
  margin-bottom: 25px;
}

.testimonial-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-info img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.story-btn {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
}




.pricing-section {
  width: 100%;
  padding: 40px 50px;
  background: #fafafa;
}

.pricing-plans {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 30px;
}

.pricing-box {
  flex: 1;                     /* chia đều 2 ô */
  background: #fff;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.plan-header {
  background: #fff3d9;
  padding: 12px;
  text-align: center;
  font-weight: bold;
  border-radius: 8px;
}

.plan-price {
  font-size: 48px;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}

.plan-price span {
  font-size: 16px;
  font-weight: normal;
}

.plan-features p {
  background: #f7f7f7;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 8px;
  font-size: 14px;
}

.btn {
  width: 100%;
  padding: 14px;
  background: orange;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
  font-size: 16px;
}

.btn:hover {
  opacity: 0.9;
}



.faq-container {
  max-width: 1300px;
  margin: auto;
  background: white;
  padding: 40px;
  border-radius: 12px;
  display: flex;
  gap: 50px;
}

/* LEFT SIDE */
.faq-left {
  width: 35%;
}

.faq-left h1 {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 20px;
}

.faq-desc {
  color: #666;
  line-height: 1.5;
  margin-bottom: 20px;
}

.faq-btn {
  padding: 12px 26px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

/* RIGHT SIDE */
.faq-right {
  width: 65%;
}

/* FAQ BOX */
.faq-box {
  background: #fff;
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.icon {
  background: #fff2d9;
  padding: 6px 10px;
  border-radius: 8px;
  font-weight: bold;
}

/* OPEN BOX (FAQ 1) */
.faq-box.open {
  border-color: #ffcf87;
  background: #fffaf2;
}

.faq-answer {
  margin-top: 15px;
  color: #444;
  line-height: 1.5;
}

.faq-link {
  background: #fff;
  padding: 12px 15px;
  border: 1px solid #eee;
  border-radius: 10px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  padding: 5px 8px;
  border-radius: 50%;
  background: #f0f0f0;
}



.footer {
  background: #fff;
  padding: 80px 50px 30px;
  max-width: 1400px;
  margin: 40px auto;
  border-radius: 10px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}

.footer-left img {
  width: 55px;
  margin-bottom: 25px;
}

.footer-info p {
  margin-bottom: 13px;
  font-size: 16px;
  color: #333;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-info i {
  color: #333;
}

.footer-links {
  display: flex;
  gap: 80px;
}

.footer-links h3,
.footer-social h3 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

.footer-links a {
  display: block;
  margin-bottom: 12px;
  text-decoration: none;
  color: #444;
  font-size: 16px;
  transition: 0.2s;
}

.footer-links a:hover {
  color: #000;
}

.footer-social .social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  transition: 0.25s;
}

.social-icons a:hover {
  background: #e1e1e1;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 40px 0 25px;
}

.footer-copy {
  text-align: center;
  color: #666;
  font-size: 15px;
}


.menu-toggle {
  position: relative;
}


/* HEADER TOP */
#header-top {
  background-color: #FF9500;
  height: 55px;
  border-radius: 8px;
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HEADER BOTTOM */
#header-bottom {
  width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 20px 0;
  justify-content: space-between;
}

#header--logo {
  background-image: url("Logo.svg");
  height: 54px;
  width: 54px;
  background-repeat: no-repeat;
  background-size: contain;
}

/* NAV */
#header-bottom ul {
  display: flex;
  gap: 24px;
}

#header-bottom ul li {
  list-style: none;
  padding: 14px 24px;
  cursor: pointer;
}

/* ACTION BUTTONS */
#header--action {
  display: flex;
  gap: 12px;
}

.sign-up-btn {
  border: 1px solid #ddd;
  background-color: white;
  padding: 14px 34px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: -700px;
}

.login-btn {
  background-color: #FF9500;
  border-radius: 8px;
  border: none;
  padding: 14px 34px;
  color: #fff;
  cursor: pointer;
}

/* MOBILE MENU */
.hamburger-btn {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* SIDEBAR */
.menu-checkbox {
  display: none;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: none;
}

.menu-checkbox:checked ~ .overlay {
  display: block;
}

.sidebar {
   position: fixed;
  background: #fff;
  width: 280px;
  inset: 0 0 0 auto;   /* sát bên phải */
  padding: 20px;
  transform: translateX(100%); /* ẩn ở bên phải */
  transition: 0.3s;
}

.menu-checkbox:checked ~ .sidebar {
  transform: translateX(0); /* trượt vào */
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.close-btn {
  font-size: 24px;
  cursor: pointer;
}

.sidebar-nav a {
  display: block;
  padding: 12px 0;
  font-size: 18px;
  border-bottom: 1px solid #eee;
}

.sidebar-signup,
.sidebar-login {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
}

.sidebar-login {
  background: #FF9500;
  color: #fff;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  nav ul {
    display: none;
  }
  .hamburger-btn {
    display: block;
  }
  #header-bottom {
    width: 90%;
  }
}
