body {
  background-image: url("https://images.unsplash.com/photo-1579547621706-1a9c79d5c9f1?q=80&w=2070&auto=format&fit=crop");
  background-size: cover;
  background-repeat: no-repeat;
}
.background {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 2px;
  background-color: aliceblue;
  background-size: cover;
}
.sub-title {
  margin-top: 20px;
  font-size: 64px;
  text-align: center;
  font-weight: 700;
}
.main-title {
  color: #c084fc;
  font-weight: 700;
}

.desc {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 400;
}

.start-btn {
  background-color: #a855f7;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 20px;
  margin-left: 600px;
  margin-top: 30px;
  font-size: 18px;
}

.start-btn:hover {
  background-color: #9333ea;
  color: #334155;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgba(192, 132, 252, 0.6);
  margin-left: 680px;
  margin-top: 35px;
}

.logo-desc {
  text-align: center;
  margin-top: 35px;
  font-size: 20px;
  margin-bottom: 35px;
}
.number {
  color: #8e38e5;
}

.check-box {
  margin-left: 600px;
}

.conclusion {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 2px;
  background-color: aliceblue;
  margin-bottom: 5px;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.reminder-title {
  font-weight: bold;
  text-align: center;
}


